<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="text-3xl font-bold">Active Recorder</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">HOME</a>
      <a class="mr-5 hover:text-gray-900">SERVICE</a>
      <a class="mr-5 hover:text-gray-900">CONTACT</a>
    </nav>
    <button class="inline-flex items-center bg-color-primary text-white py-3 px-8  rounded-full hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out"><i class="fa-brands fa-github fa-fw"></i>
      GitHub
    </button>
  </div>
</header>

    <div class="flex flex-col text-center w-full pt-10 ">
      <h2 class="text-xs text-color-primary tracking-widest font-bold title-font py-5">TRIAL</h2>
      <h1 class="sm:text-3xl text-xl font-bold  text-gray-900">CHAPTER 1</h1>
    </div>


<section class="text-gray-300">
  <div class="container px-5 py-6 mx-auto">

    <div class="relative flex flex-wrap rounded-lg bg-color-primary px-4 py-3 mb-10 shadow-lg sm:flex-nowrap sm:items-center sm:justify-center sm:gap-3 sm:pr-8 md:px-8">
      <div class="order-1  text-sm text-white sm:order-none sm:mb-0 sm:w-auto md:text-base ">usersテーブルから全てのレコードを取得してください</div>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
      <%= link_to "エディタ", editor_practices_path, class: "active sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider",data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" }  %>
      <%= link_to "実行SQL", sql_practices_path, class: "active sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider",data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" }  %>
      <%= link_to "実行結果", execute_practices_path, class: "active sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider",data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" }  %>
      <!--<a class="sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>実行結果
      </a>-->
         <%= turbo_frame_tag :items, src: editor_practices_path, loading: :lazy do %>
           <h1>Loading...</h1> 
         <% end %>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
      <%= turbo_frame_tag 'replace' do %>
      <%= link_to "ER図", er_practices_path, class: "active sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider",data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" }  %>
      <%= link_to "テーブル", db_practices_path, class: "active sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider",data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" }  %>
       <% end %>
      <%= link_to "想定結果", answer_practices_path, class: "active sm:px-6 py-3 w-1/3 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-bold inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider",data: { turbo_frame: :items, tabs_target: "tab", action: "click->tabs#toggle" }  %>
           <%= turbo_frame_tag :itemss, src: db_practices_path do %>
             <h1>Loading...</h1> 
         <% end %>
        </div>
      </div>
    </div>
  </div>

</section>




