<%= turbo_frame_tag "modal" do %>
<% if @result%>
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <div
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
    >
      <h1 class="text-center text-red-300 font-bold text-5xl">正解</h1>
      <h3 class="text-center text-gray-500 font-bold mt-2">正解です！次の問題にも挑戦してみましょう！</h3>
 
   
      <%= image_tag "undraw_Pair.png", class: "max-w-full" %>
    <div class="flex justify-between">
  <div class="items-left">
    <%= link_to '戻る', practice_path(@practice), class: "bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 border border-gray-600 rounded shadow" %>  
  </div>
  <div class="items-right">
    <%= link_to '次の問題', practice_path(@practice.id + 1), data: { turbo: false }, class: "bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 border border-gray-400 rounded shadow" %> 
  </div>
</div>

    </div>
  </div>
</div>
<% else %>
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <div
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
    >
      <h1 class="text-center text-blue-300 font-bold text-5xl">不正解...</h1>
      <h3 class="text-center text-gray-500 font-bold mt-2">構文が正しくないようです、もう一度見直してみましょう</h3>
 
       <%= image_tag "undraw_Developer.png", class: "max-w-full mx-auto" %>
        <%= link_to '戻る', practice_path(@practice), class: "bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 border border-gray-600 rounded shadow" %>  

    </div>
  </div>
</div>
<% end %>
<% end%>
