<% breadcrumb :chapters, @lesson %>
<div class="flex flex-col text-center w-full mb-10 pt-10">
	<h2 class="text-xs text-color-primary tracking-widest font-bold title-font mb-1">TRIAL</h2>
	<h1 class="sm:text-3xl text-2xl font-bold title-font mb-4 text-gray-900"><%= @lesson.lesson_type %></h1>
	<p class="lg:w-2/3 mx-auto leading-relaxed text-base font-bold"><%= @lesson.description %></p>
</div>
<% @chapters.each do |chapter| %>

<div class=" bg-white py-2">
	<div>
		<div class="flex flex-col items-center justify-between gap-4 rounded-lg bg-gray-100 p-4 sm:flex-row md:p-8">
			<div>
				<h2 class="font-bold text-color-primary md:text-2xl"><%= "CHAPTER " + chapter.id.to_s %></h2>
				<p class="text-gray-600 pt-2"><%= chapter.title %></p>
			</div>
			<%= link_to "問題を解く", practice_path(chapter),class:"inline-block rounded-lg bg-color-primary px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:bg-gray-300 md:text-base" %>
		</div>
	</div>
</div>
<% end %>